.BlogItemPage {
  background: @code-bg;

  @media screen and (min-width: 992px) {
    .App-composer {
      .Composer {
        margin-left: -20px;
        margin-right: 320px;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
      width: unset;
    }
  }
}

.FlarumBlogItem {
  padding: 30px 0 50px;
  
  .FlarumBlog-ToolButtons {
    margin-bottom: 15px;
  }

  .FlarumBlog-Article {

    @media screen and (min-width: 840px) {
      display: flex;
      flex-direction: row;
    }

    /* Blog Article */
    .FlarumBlog-Article-Container {
      @media screen and (min-width: 840px) {
        flex-grow: 1;
        margin-right: 25px;
        overflow: hidden;
      }

      .FlarumBlog-Article-Content {
        background: @body-bg;
        box-shadow: 1px 3px 9px 0px @control-bg;
      }

      .FlarumBlog-Article-Image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        margin-bottom: 20px;

        @media screen and (min-width: 840px) {
          height: 400px;
        }
      }

      .FlarumBlog-Article-Content-Edit-Button {
        position: relative;

        .FlarumBlog-Article-Content-Edit-Dropdown {
          position: absolute;
          top: 0px;
          right: 20px;
        }

        .FlarumBlog-Article-Content-EditButtons {
          text-align: center;
          padding-top: 10px;

          .Button {
            margin: 0 5px;
          }
        }
      }

      .FlarumBlog-Article-Categories {
        text-align: center;
        padding: 10px 0;

        a, span {
          display: inline-block;
          text-decoration: none;
          padding: 5px 5px;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 15px;
          margin: 0 5px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .FlarumBlog-Article-Post {
        padding: 0 30px 30px;
        position: relative;

        h3 {
          font-size: 22px;
          text-align: center;
          text-transform: uppercase;
          margin-top: 0;

          i {
            margin-left: 15px;
          }
        }

        p {
          margin-bottom: 15px;
        }

        .Post {
          padding: 0;
          margin: 0;

          .Post-header {
            display: none;
          }
        }
      }

      .FlarumBlog-Article-Comments {
        padding: 30px;
        background: @body-bg;
        box-shadow: 1px 3px 9px 0px @control-bg;
        margin-top: 30px;

        h4 {
          margin-top: 0;
          font-size: 20px;
        }


        .PostStream {
          // Hide first post?
          .PostStream-item:first-child {
            display: none !important;
          }
        }
      }
    }

    /** Article sidebar */
    .FlarumBlog-Article-Sidebar {
      @media screen and (max-width: 840px) {
        margin-top: 25px;
      }

      @media screen and (min-width: 840px) {
        flex-grow: 0;
        flex-shrink: 0;
        width: 320px;
      }

      > ul, ul.FlarumBlog-Article-Author-Extended {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
          margin-bottom: 25px;
        }
      }

      .FlarumBlog-Article-Author {
        background: @body-bg;
        box-shadow: 1px 3px 9px 0px @control-bg;

        .FlarumBlog-Article-Author-background {
          height: 130px;
          background: @control-bg;
        }

        .FlarumBlog-Article-Author-Avatar {
          margin-top: -55px;
          margin-bottom: 10px;
          text-align: center;

          .Avatar {
            width: 100px;
            height: 100px;
            line-height: 100px;
            font-size: 40px;
            border-radius: 100px;
            border: 5px solid @body-bg;
          }
        }

        .FlarumBlog-Article-Author-Info {
          padding: 0 20px 20px;
        }

        .FlarumBlog-Article-Author-Name {
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          display: block;
        }

        .FlarumBlog-Article-Author-Bio {
          font-size: 14px;
          text-align: center;
          padding: 0 10px;
          margin: 15px 0;
          word-break: break-word;
        }
      }
    }
  }
}

.FlarumBlog-Article-GhostParagraph, .FlarumBlog-Article-GhostTitle, .FlarumBlog-Article-GhostCategory, .FlarumBlog-Article-GhostImage, .FlarumBlog-Author-Ghost {
  background: @control-bg;
  color: @control-bg;
  animation: FlarumBlogGhostLoading 2s infinite;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}